#affiche{
    margin: 20px 5px;
}
.card img{
height: 500px;
}

.img2{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

nav .Page{
    text-align: center;
    color: red;
}
